

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Desafio SIGRIA</h1>
      </div>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-md-12 d-flex justify-content-center">

    <button class="btn btn-outline-dark btn-lg" routerLink='/login'>Login</button>

    <button class="btn btn-outline-dark btn-lg" routerLink='/cadastro'>Cadastro</button>

    <button class="btn btn-outline-dark btn-lg" routerLink='/basemap'>Basemap</button>
  </div>
</div>



<div class="parallax"></div>


<app-footer></app-footer>
